@charset 'utf-8';
body{
           color:sliver;
           font-size:16px;
}
p{
           line-height:2em;
}
h1{
           text-align:center;
           font-family:"方正姚体“,"宋体","黑体"; 
           font-size:20px;
           font-weight:bold;
           color:brown;
}
h2{
           font-family:"黑体";
           font-size:16px;
           font-weight:normol;
           color:#099;           
}
.nav{
           background-color:#9F0;   
           margin-left:15%;
           margin-right:15%;
           text-align:center;
           font-size:18px;     
}
.copyright{
           text-align:center;
           margin-down:10px;
}
.tri{
                                 width:0px;
                                 height:0px;
                                 margin:20px auto;
                                 border:50px solid brown;
                                 border-bottom:none;
                                 border-left-color:transparent;                            
                                 border-right-color:transparent;

}
#wrapper{
                                 margin:50px auto;
                                 width:300px;
                                 height:200px;
                                 border:1px solid eashell;
}
.div1{
                                 min-height:700px;
}